{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
 {%  assign horizontal_quick_add = true %}
{%- unless skip_styles -%}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
  {{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{%- endunless -%}
{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
        {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
        {% if extend_height %} card--extend-height{% endif %}
        {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
        {% if horizontal_class %} card--horizontal{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}"
        style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        {%- if card_product.featured_media -%}
          <a href="{{card_product.url }}" style="display:block; width:100%;">
          <div class="card__media{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
            <div class="media media--transparent media--hover-effect">
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                "
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

              {%- if card_product.media[1] != null and show_secondary_image -%}
                <img
                  srcset="
                    {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                  "
                  src="{{ card_product.media[1] | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt=""
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                >
              {%- endif -%}
              

            </div>
            {% if quick_add == 'standard' %}
              <div class="quick-add no-js-hidden">
                {%- liquid
                  assign qty_rules = false
                  if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                    assign qty_rules = true
                  endif
                -%}
                {%- if card_product.variants.size > 1 or qty_rules -%}
                  <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                    <button
                      id="{{ product_form_id }}-submit"
                      type="submit"
                      name="add"
                      class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
                      aria-haspopup="dialog"
                      aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                      data-product-url="{{ card_product.url }}"
                    >
                      <div class="quick-add__submit-text xs-hide">
                        {{ 'products.product.choose_options' | t }}
                      </div>
                      
                      <div class="xs-show">
                        <svg alt-text="Add to my Bag" data-testid="bag-plus-icon" width="18" height="17" fill="none" viewBox="0 0 18 17"><g><g fill="#000"><path fill-rule="evenodd" d="M5.776 4.183a3.317 3.317 0 013.31-3.31 3.275 3.275 0 013.292 3.31v1.051h4.226c.218 0 .396.179.396.397v6.88a4.375 4.375 0 01-4.362 4.361H5.362A4.375 4.375 0 011 12.511V5.63c0-.218.178-.397.397-.397h4.379v-1.05zm3.31-2.537A2.522 2.522 0 006.57 4.164v1.05h5.036v-1.05a2.522 2.522 0 00-2.518-2.518zm7.14 10.865V6.027h-3.848l.02 1.702h-.793l-.02-1.702H6.569V7.73h-.793V6.027H1.793v6.483a3.58 3.58 0 003.569 3.57h7.296a3.58 3.58 0 003.569-3.57zm-6.76-1.836h2.036a.429.429 0 010 .857H9.466a.107.107 0 00-.107.107v2.036a.429.429 0 11-.857 0v-2.036a.107.107 0 00-.107-.107H6.359a.429.429 0 010-.857h2.036a.107.107 0 00.107-.108V8.532a.429.429 0 01.857 0v2.035a.107.107 0 00.107.107z" clip-rule="evenodd"></path><path d="M12.378 4.183l-.125-.001v.001h.125zm0 1.051h-.125v.125h.125v-.125zm-6.602 0v.125H5.9v-.125h-.125zm.793-1.07h-.125.125zm0 1.05h-.125v.125h.125v-.125zm5.036 0v.125h.125v-.125h-.125zm4.622.813h.125v-.125h-.125v.125zm-3.85 0v-.125h-.126l.002.127.125-.002zm.02 1.702v.125h.127l-.001-.126-.125.001zm-.792 0l-.125.002.001.123h.124V7.73zm-.02-1.702l.125-.001-.002-.124h-.123v.125zm-5.016 0v-.125h-.125v.125h.125zm0 1.702v.125h.125V7.73h-.125zm-.793 0H5.65v.125h.125V7.73zm0-1.702H5.9v-.125h-.125v.125zm-3.983 0v-.125h-.125v.125h.125zM5.362 16.08v-.125.125zm7.296 0v.125-.125zm-.853-5.279l-.088.088.088-.088zm0 .606l-.088-.088.088.088zm-2.414.157l.088.088-.088-.088zm-.92 0l-.089.088.089-.088zm-2.415-.157l.089-.088-.089.088zm0-.606l.089.088-.089-.088zm2.415-.157l-.089-.088.089.088zm.157-2.414l-.089-.089.089.089zm.606 0l.088-.089-.088.089zm.157 2.414l.088-.088-.088.088zM9.087.747A3.442 3.442 0 005.65 4.183h.25A3.192 3.192 0 019.087.997v-.25zm3.416 3.438A3.4 3.4 0 009.087.747v.25a3.15 3.15 0 013.166 3.185l.25.003zm0 1.05V4.182h-.25v1.051h.25zm4.1-.126h-4.225v.25h4.226v-.25zm.522.522a.523.523 0 00-.521-.522v.25c.149 0 .271.123.271.272h.25zm0 6.88V5.63h-.25v6.88h.25zm-4.487 4.486a4.5 4.5 0 004.487-4.486h-.25a4.25 4.25 0 01-4.237 4.236v.25zm-7.276 0h7.276v-.25H5.362v.25zM.875 12.511a4.5 4.5 0 004.487 4.486v-.25a4.25 4.25 0 01-4.237-4.236h-.25zm0-6.88v6.88h.25V5.63h-.25zm.522-.522a.523.523 0 00-.522.522h.25c0-.15.122-.272.272-.272v-.25zm4.379 0h-4.38v.25h4.38v-.25zm-.125-.926v1.051h.25v-1.05h-.25zm1.043-.02a2.397 2.397 0 012.393-2.392v-.25a2.647 2.647 0 00-2.643 2.643h.25zm0 1.051v-1.05h-.25v1.05h.25zm4.91-.125H6.57v.25h5.036v-.25zm-.124-.925v1.05h.25v-1.05h-.25zM9.087 1.77a2.397 2.397 0 012.393 2.393h.25A2.647 2.647 0 009.087 1.52v.25zm7.015 4.256v6.484h.25V6.027h-.25zm-3.724.125h3.849v-.25h-3.85v.25zm.145 1.576l-.02-1.702-.25.003.02 1.702.25-.003zm-.918.126h.793v-.25h-.793v.25zM11.46 6.03l.02 1.702.25-.003-.02-1.702-.25.003zm-4.891.123h5.016v-.25H6.569v.25zm.125 1.577V6.027h-.25V7.73h.25zm-.918.125h.793v-.25h-.793v.25zM5.65 6.027V7.73h.25V6.027h-.25zm-3.858.125h3.983v-.25H1.793v.25zm.125 6.358V6.027h-.25v6.483h.25zm3.444 3.444a3.454 3.454 0 01-3.444-3.444h-.25a3.704 3.704 0 003.694 3.694v-.25zm7.296 0H5.362v.25h7.296v-.25zm3.444-3.443a3.454 3.454 0 01-3.444 3.443v.25a3.704 3.704 0 003.694-3.693h-.25zm-4.6-1.961H9.466v.25h2.036v-.25zm.392.162a.553.553 0 00-.392-.162v.25c.08 0 .158.031.215.088l.177-.176zm.162.391a.554.554 0 00-.162-.391l-.177.176a.304.304 0 01.089.215h.25zm-.162.392a.554.554 0 00.162-.392h-.25c0 .08-.032.158-.09.215l.178.177zm-.392.162a.554.554 0 00.392-.162l-.177-.177a.304.304 0 01-.215.089v.25zm-2.036 0h2.036v-.25H9.466v.25zm.013-.006a.018.018 0 01-.013.006v-.25a.232.232 0 00-.164.068l.177.176zm.005-.012c0 .005-.002.01-.005.012l-.177-.176a.232.232 0 00-.068.164h.25zm0 2.036v-2.036h-.25v2.036h.25zm-.162.391a.554.554 0 00.162-.392h-.25c0 .081-.032.158-.089.215l.177.177zm-.391.162a.554.554 0 00.391-.162l-.177-.177a.304.304 0 01-.214.09v.25zm-.392-.162a.554.554 0 00.392.162v-.25a.304.304 0 01-.215-.089l-.177.177zm-.162-.392c0 .147.059.288.162.392l.177-.177a.304.304 0 01-.089-.214h-.25zm0-2.035v2.036h.25v-2.036h-.25zm.005.012a.018.018 0 01-.005-.012h.25a.232.232 0 00-.068-.164l-.177.176zm.013.006a.018.018 0 01-.013-.006l.177-.176a.232.232 0 00-.164-.068v.25zm-2.036 0h2.036v-.25H6.359v.25zm-.391-.162a.554.554 0 00.391.162v-.25a.303.303 0 01-.214-.09l-.177.178zm-.162-.392c0 .147.058.288.162.392l.177-.177a.303.303 0 01-.09-.215h-.25zm.162-.391a.553.553 0 00-.162.391h.25c0-.08.032-.158.089-.215l-.177-.176zm.391-.162a.553.553 0 00-.391.162l.177.176a.304.304 0 01.214-.088v-.25zm2.036 0H6.359v.25h2.036v-.25zm-.013.005a.018.018 0 01.013-.005v.25c.062 0 .12-.025.164-.069l-.177-.176zm-.005.012c0-.004.002-.009.005-.012l.177.177a.232.232 0 00.068-.165h-.25zm0-2.035v2.035h.25V8.532h-.25zm.162-.392a.554.554 0 00-.162.392h.25c0-.08.032-.158.09-.215l-.178-.177zm.392-.162a.554.554 0 00-.392.162l.177.177a.304.304 0 01.215-.089v-.25zm.391.162a.554.554 0 00-.391-.162v.25c.08 0 .158.032.214.089l.177-.177zm.162.392a.554.554 0 00-.162-.392l-.177.177a.304.304 0 01.09.215h.25zm0 2.035V8.532h-.25v2.035h.25zm-.005-.012a.018.018 0 01.005.012h-.25c0 .062.025.121.068.165l.177-.177zm-.013-.005c.005 0 .01.001.013.005l-.177.177a.232.232 0 00.164.068v-.25z"></path></g></g></svg>
                      </div>
                      {%- if horizontal_quick_add -%}
                        <span class="icon-wrap">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span> 
                      {%- endif -%}
                      {%- render 'loading-spinner' -%}
                    </button>
                  </modal-opener>
                  <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                    <div
                      role="dialog"
                      aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                      aria-modal="true"
                      class="quick-add-modal__content global-settings-popup"
                      tabindex="-1"
                    >
                      <button
                        id="ModalClose-{{ card_product.id }}"
                        type="button"
                        class="quick-add-modal__toggle"
                        aria-label="{{ 'accessibility.close' | t }}"
                      >
                        {{- 'icon-close.svg' | inline_asset_content -}}
                      </button>
                      <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
                    </div>
                  </quick-add-modal>
                {%- else -%}
                  <product-form data-section-id="{{ section.id }}">
                    {%- form 'product',
                      card_product,
                      id: product_form_id,
                      class: 'form',
                      novalidate: 'novalidate',
                      data-type: 'add-to-cart-form'
                    -%}
                      <input
                        type="hidden"
                        name="id"
                        value="{{ card_product.selected_or_first_available_variant.id }}"
                        class="product-variant-id"
                        {% if card_product.selected_or_first_available_variant.available == false %}
                          disabled
                        {% endif %}
                      >
                      <button
                        id="{{ product_form_id }}-submit"
                        type="submit"
                        name="add"
                        class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                        aria-haspopup="dialog"
                        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                        aria-live="polite"
                        data-sold-out-message="true"
                        {% if card_product.selected_or_first_available_variant.available == false %}
                          disabled
                        {% endif %}
                      >

                        <span class="xs-hide">
                          {%- if card_product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>

                        <div class="xs-show">
                          <svg alt-text="Add to my Bag" data-testid="bag-plus-icon" width="18" height="17" fill="none" viewBox="0 0 18 17"><g><g fill="#000"><path fill-rule="evenodd" d="M5.776 4.183a3.317 3.317 0 013.31-3.31 3.275 3.275 0 013.292 3.31v1.051h4.226c.218 0 .396.179.396.397v6.88a4.375 4.375 0 01-4.362 4.361H5.362A4.375 4.375 0 011 12.511V5.63c0-.218.178-.397.397-.397h4.379v-1.05zm3.31-2.537A2.522 2.522 0 006.57 4.164v1.05h5.036v-1.05a2.522 2.522 0 00-2.518-2.518zm7.14 10.865V6.027h-3.848l.02 1.702h-.793l-.02-1.702H6.569V7.73h-.793V6.027H1.793v6.483a3.58 3.58 0 003.569 3.57h7.296a3.58 3.58 0 003.569-3.57zm-6.76-1.836h2.036a.429.429 0 010 .857H9.466a.107.107 0 00-.107.107v2.036a.429.429 0 11-.857 0v-2.036a.107.107 0 00-.107-.107H6.359a.429.429 0 010-.857h2.036a.107.107 0 00.107-.108V8.532a.429.429 0 01.857 0v2.035a.107.107 0 00.107.107z" clip-rule="evenodd"></path><path d="M12.378 4.183l-.125-.001v.001h.125zm0 1.051h-.125v.125h.125v-.125zm-6.602 0v.125H5.9v-.125h-.125zm.793-1.07h-.125.125zm0 1.05h-.125v.125h.125v-.125zm5.036 0v.125h.125v-.125h-.125zm4.622.813h.125v-.125h-.125v.125zm-3.85 0v-.125h-.126l.002.127.125-.002zm.02 1.702v.125h.127l-.001-.126-.125.001zm-.792 0l-.125.002.001.123h.124V7.73zm-.02-1.702l.125-.001-.002-.124h-.123v.125zm-5.016 0v-.125h-.125v.125h.125zm0 1.702v.125h.125V7.73h-.125zm-.793 0H5.65v.125h.125V7.73zm0-1.702H5.9v-.125h-.125v.125zm-3.983 0v-.125h-.125v.125h.125zM5.362 16.08v-.125.125zm7.296 0v.125-.125zm-.853-5.279l-.088.088.088-.088zm0 .606l-.088-.088.088.088zm-2.414.157l.088.088-.088-.088zm-.92 0l-.089.088.089-.088zm-2.415-.157l.089-.088-.089.088zm0-.606l.089.088-.089-.088zm2.415-.157l-.089-.088.089.088zm.157-2.414l-.089-.089.089.089zm.606 0l.088-.089-.088.089zm.157 2.414l.088-.088-.088.088zM9.087.747A3.442 3.442 0 005.65 4.183h.25A3.192 3.192 0 019.087.997v-.25zm3.416 3.438A3.4 3.4 0 009.087.747v.25a3.15 3.15 0 013.166 3.185l.25.003zm0 1.05V4.182h-.25v1.051h.25zm4.1-.126h-4.225v.25h4.226v-.25zm.522.522a.523.523 0 00-.521-.522v.25c.149 0 .271.123.271.272h.25zm0 6.88V5.63h-.25v6.88h.25zm-4.487 4.486a4.5 4.5 0 004.487-4.486h-.25a4.25 4.25 0 01-4.237 4.236v.25zm-7.276 0h7.276v-.25H5.362v.25zM.875 12.511a4.5 4.5 0 004.487 4.486v-.25a4.25 4.25 0 01-4.237-4.236h-.25zm0-6.88v6.88h.25V5.63h-.25zm.522-.522a.523.523 0 00-.522.522h.25c0-.15.122-.272.272-.272v-.25zm4.379 0h-4.38v.25h4.38v-.25zm-.125-.926v1.051h.25v-1.05h-.25zm1.043-.02a2.397 2.397 0 012.393-2.392v-.25a2.647 2.647 0 00-2.643 2.643h.25zm0 1.051v-1.05h-.25v1.05h.25zm4.91-.125H6.57v.25h5.036v-.25zm-.124-.925v1.05h.25v-1.05h-.25zM9.087 1.77a2.397 2.397 0 012.393 2.393h.25A2.647 2.647 0 009.087 1.52v.25zm7.015 4.256v6.484h.25V6.027h-.25zm-3.724.125h3.849v-.25h-3.85v.25zm.145 1.576l-.02-1.702-.25.003.02 1.702.25-.003zm-.918.126h.793v-.25h-.793v.25zM11.46 6.03l.02 1.702.25-.003-.02-1.702-.25.003zm-4.891.123h5.016v-.25H6.569v.25zm.125 1.577V6.027h-.25V7.73h.25zm-.918.125h.793v-.25h-.793v.25zM5.65 6.027V7.73h.25V6.027h-.25zm-3.858.125h3.983v-.25H1.793v.25zm.125 6.358V6.027h-.25v6.483h.25zm3.444 3.444a3.454 3.454 0 01-3.444-3.444h-.25a3.704 3.704 0 003.694 3.694v-.25zm7.296 0H5.362v.25h7.296v-.25zm3.444-3.443a3.454 3.454 0 01-3.444 3.443v.25a3.704 3.704 0 003.694-3.693h-.25zm-4.6-1.961H9.466v.25h2.036v-.25zm.392.162a.553.553 0 00-.392-.162v.25c.08 0 .158.031.215.088l.177-.176zm.162.391a.554.554 0 00-.162-.391l-.177.176a.304.304 0 01.089.215h.25zm-.162.392a.554.554 0 00.162-.392h-.25c0 .08-.032.158-.09.215l.178.177zm-.392.162a.554.554 0 00.392-.162l-.177-.177a.304.304 0 01-.215.089v.25zm-2.036 0h2.036v-.25H9.466v.25zm.013-.006a.018.018 0 01-.013.006v-.25a.232.232 0 00-.164.068l.177.176zm.005-.012c0 .005-.002.01-.005.012l-.177-.176a.232.232 0 00-.068.164h.25zm0 2.036v-2.036h-.25v2.036h.25zm-.162.391a.554.554 0 00.162-.392h-.25c0 .081-.032.158-.089.215l.177.177zm-.391.162a.554.554 0 00.391-.162l-.177-.177a.304.304 0 01-.214.09v.25zm-.392-.162a.554.554 0 00.392.162v-.25a.304.304 0 01-.215-.089l-.177.177zm-.162-.392c0 .147.059.288.162.392l.177-.177a.304.304 0 01-.089-.214h-.25zm0-2.035v2.036h.25v-2.036h-.25zm.005.012a.018.018 0 01-.005-.012h.25a.232.232 0 00-.068-.164l-.177.176zm.013.006a.018.018 0 01-.013-.006l.177-.176a.232.232 0 00-.164-.068v.25zm-2.036 0h2.036v-.25H6.359v.25zm-.391-.162a.554.554 0 00.391.162v-.25a.303.303 0 01-.214-.09l-.177.178zm-.162-.392c0 .147.058.288.162.392l.177-.177a.303.303 0 01-.09-.215h-.25zm.162-.391a.553.553 0 00-.162.391h.25c0-.08.032-.158.089-.215l-.177-.176zm.391-.162a.553.553 0 00-.391.162l.177.176a.304.304 0 01.214-.088v-.25zm2.036 0H6.359v.25h2.036v-.25zm-.013.005a.018.018 0 01.013-.005v.25c.062 0 .12-.025.164-.069l-.177-.176zm-.005.012c0-.004.002-.009.005-.012l.177.177a.232.232 0 00.068-.165h-.25zm0-2.035v2.035h.25V8.532h-.25zm.162-.392a.554.554 0 00-.162.392h.25c0-.08.032-.158.09-.215l-.178-.177zm.392-.162a.554.554 0 00-.392.162l.177.177a.304.304 0 01.215-.089v-.25zm.391.162a.554.554 0 00-.391-.162v.25c.08 0 .158.032.214.089l.177-.177zm.162.392a.554.554 0 00-.162-.392l-.177.177a.304.304 0 01.09.215h.25zm0 2.035V8.532h-.25v2.035h.25zm-.005-.012a.018.018 0 01.005.012h-.25c0 .062.025.121.068.165l.177-.177zm-.013-.005c.005 0 .01.001.013.005l-.177.177a.232.232 0 00.164.068v-.25z"></path></g></g></svg>
                        </div>
                        <span class="sold-out-message hidden">
                          {{ 'products.product.sold_out' | t }}
                        </span>
                          <span class="icon-wrap">
                            {{- 'icon-plus.svg' | inline_asset_content -}}
                          </span>
                        {%- render 'loading-spinner' -%}
                      </button>
                    {%- endform -%}
                  </product-form>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </a>
        {%- endif -%}
        <div class="card__content">
          <div class="card__information">
            <h3
              class="card__heading"
              {% if card_product.featured_media == null and settings.card_style == 'standard' %}
                id="title-{{ section_id }}-{{ card_product.id }}"
              {% endif %}
            >
              <a
                href="{{ card_product.url }}"
              >
                {{ card_product.title | escape }}
              </a>
            </h3>
          </div>
          <div class="card__badge {{ settings.badge_position }}">
            {%- if card_product.available == false -%}
              <span
                id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
                class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
              >
                {{- 'products.product.sold_out' | t -}}
              </span>
            {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
              <span
                id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
                class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
              >
                {{- 'products.product.on_sale' | t -}}
              </span>
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3
            class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h3{% endif %}"
            {% if card_product.featured_media or settings.card_style == 'card' %}
              id="title-{{ section_id }}-{{ card_product.id }}"
            {% endif %}
          >
            <a
              href="{{ card_product.url }}"
              id="CardLink-{{ section_id }}-{{ card_product.id }}"
              class="full-unstyled-link"
              aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
            >
              {{ card_product.title | escape }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ card_product.vendor }}</div>
            {%- endif -%}

            <span class="caption-large light">{{ block.settings.description | escape }}</span>

            <div class="okendo-featured-star-rating">
              {% render 'okendo-reviews-product-rating-summary', product: card_product %} 
            </div>

            {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
              {% liquid
                assign rating_decimal = 0
                assign decimal = card_product.metafields.reviews.rating.value.rating | modulo: 1
                if decimal >= 0.3 and decimal <= 0.7
                  assign rating_decimal = 0.5
                elsif decimal > 0.7
                  assign rating_decimal = 1
                endif
              %}
              <div
                class="rating"
                role="img"
                aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: card_product.metafields.reviews.rating.value, rating_max: card_product.metafields.reviews.rating.value.scale_max }}"
              >
                <span
                  aria-hidden="true"
                  class="rating-star"
                  style="--rating: {{ card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                ></span>
              </div>
              <p class="rating-text caption">
                <span aria-hidden="true">
                  {{- card_product.metafields.reviews.rating.value }} /
                  {{ card_product.metafields.reviews.rating.value.scale_max -}}
                </span>
              </p>
              <p class="rating-count caption">
                <span aria-hidden="true">({{ card_product.metafields.reviews.rating_count }})</span>
                <span class="visually-hidden">
                  {{- card_product.metafields.reviews.rating_count }}
                  {{ 'accessibility.total_reviews' | t -}}
                </span>
              </p>
            {%- endif -%}

            {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
            {%- if card_product.quantity_price_breaks_configured? -%}
              {% if card_product.variants.size == 1 and quick_add == 'bulk' %}
                {% liquid
                  assign quantity_rule = card_product.selected_or_first_available_variant.quantity_rule
                  assign has_qty_rules = false
                  if quantity_rule.increment > 1 or quantity_rule.min > 1 or quantity_rule.max != null
                    assign has_qty_rules = true
                  endif
                %}
                <quantity-popover>
                  <button class="card__information-volume-pricing-note card__information-volume-pricing-note--button card__information-volume-pricing-note--button-{{ settings.card_text_alignment }} quantity-popover__info-button--icon-only button button button--tertiary medium-hide small-hide">
                    <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                  </button>
                  <button class="card__information-volume-pricing-note card__information-volume-pricing-note--button card__information-volume-pricing-note--button-{{ settings.card_text_alignment }} quantity-popover__info-button--icon-with-label button button--tertiary large-up-hide">
                    <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                  </button>
              {% else %}
                <div class="card__information-volume-pricing-note">
                  <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                </div>
              {% endif %}
              {% if card_product.variants.size == 1 and quick_add == 'bulk' %}
                <div
                  class="global-settings-popup quantity-popover__info"
                  tabindex="-1"
                  hidden
                  id="quantity-popover-info-{{ card_product.selected_or_first_available_variant.id }}"
                >
                  {%- if has_qty_rules -%}
                    <div class="quantity__rules caption no-js-hidden">
                      {%- if quantity_rule.increment > 1 -%}
                        <span class="divider">
                          {{- 'products.product.quantity.multiples_of' | t: quantity: quantity_rule.increment -}}
                        </span>
                      {%- endif -%}
                      {%- if quantity_rule.min > 1 -%}
                        <span class="divider">
                          {{- 'products.product.quantity.min_of' | t: quantity: quantity_rule.min -}}
                        </span>
                      {%- endif -%}
                      {%- if quantity_rule.max != null -%}
                        <span class="divider">
                          {{- 'products.product.quantity.max_of' | t: quantity: quantity_rule.max -}}
                        </span>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                  <button
                    class="button-close button button--tertiary large-up-hide"
                    type="button"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {{- 'icon-close.svg' | inline_asset_content -}}
                  </button>
                  {%- if card_product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                    <volume-pricing class="parent-display">
                      <ul class="list-unstyled">
                        <li>
                          <span>{{ card_product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                          {%- assign price = card_product.selected_or_first_available_variant.price
                            | money_with_currency
                          -%}
                          <span>{{ 'sections.quick_order_list.each' | t: money: price }}</span>
                        </li>
                        {%- for price_break in card_product.selected_or_first_available_variant.quantity_price_breaks -%}
                          <li>
                            <span>
                              {{- price_break.minimum_quantity -}}
                              <span aria-hidden="true">+</span></span
                            >
                            {%- assign price = price_break.price | money_with_currency -%}
                            <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </volume-pricing>
                  {%- endif -%}
                </div>
                </quantity-popover>
              {% endif %}
            {%- endif -%}
          </div>
        </div>
        {% assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id %}
        {% if quick_add == 'standard' %}
          
        {% elsif quick_add == 'bulk' %}
          {% if card_product.variants.size == 1 %}
            <quick-add-bulk
              data-min="{{ card_product.selected_or_first_available_variant.quantity_rule.min }}"
              id="quick-add-bulk-{{ card_product.selected_or_first_available_variant.id }}-{{ section.id }}"
              class="quick-add-bulk"
              data-index="{{ card_product.selected_or_first_available_variant.id }}"
            >
              {% if card_product.selected_or_first_available_variant.available == false %}
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-sold-out-message="true"
                  disabled
                >
                  <span>{{ 'products.product.sold_out' | t }}</span>
                  <span class="sold-out-message hidden">
                    {{ 'products.product.sold_out' | t }}
                  </span>
                </button>
              {% else %}
                {% render 'quantity-input', variant: card_product.selected_or_first_available_variant, min: 0 %}
              {% endif %}
            </quick-add-bulk>
          {% else %}
            <div class="quick-add no-js-hidden">
              {%- liquid
                assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
                assign qty_rules = false
                if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                  assign qty_rules = true
                endif
              -%}
              <modal-opener
                id="QuickBulk-{{ card_product.id }}-{{ section_id }}"
                data-modal="#QuickAddBulk-{{ card_product.id }}-{{ section.id }}"
              >
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-product-url="{{ card_product.url }}"
                >
                  {{ 'products.product.choose_options' | t }}
                  {%- render 'loading-spinner' -%}
                </button>
              </modal-opener>
              <modal-dialog
                id="QuickAddBulk-{{ card_product.id }}-{{ section_id }}"
                class="quick-add-modal color-{{ section.settings.color_scheme }}"
              >
                <div
                  role="dialog"
                  aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                  aria-modal="true"
                  class="quick-add-modal__content quick-add-modal__content--bulk global-settings-popup"
                  tabindex="-1"
                >
                  <button
                    id="ModalClose-{{ card_product.id }}"
                    type="button"
                    class="quick-add-modal__toggle"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {{- 'icon-close.svg' | inline_asset_content -}}
                  </button>
                  <div
                    id="QuickAddInfo-{{ card_product.id }}"
                    class="quick-add-modal__content-info quick-add-modal__content-info--bulk"
                  >
                    <div class="quick-add__content-info__media">
                      <div class="quick-add__info">
                        {%- if card_product.featured_media -%}
                          <div
                            class="quick-add__product-media"
                          >
                            <div class="quick-add__product-container global-media-settings">
                              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                              <img
                                srcset="
                                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                                "
                                src="{{ card_product.featured_media | image_url: width: 533 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="{{ card_product.featured_media.alt | escape }}"
                                class="motion-reduce"
                                {% unless lazy_load == false %}
                                  loading="lazy"
                                {% endunless %}
                                width="{{ card_product.featured_media.width }}"
                                height="{{ card_product.featured_media.height }}"
                              >
                              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                            </div>
                          </div>
                        {%- endif -%}
                        <a
                          {% if card_product == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ card_product.url }}"
                          {% endif %}
                          class="link product__view-details animate-arrow small-hide medium-hide"
                        >
                          {{ 'products.product.view_full_details' | t -}}
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </a>
                      </div>
                      <div class="quick-add-modal__content-info--bulk-details large-up-hide">
                        <a href="{{ card_product.url }}" class="full-unstyled-link">
                          <h3>{{ card_product.title | escape }}</h3>
                        </a>
                        {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
                        {%- if card_product.quantity_price_breaks_configured? -%}
                          <div class="card__information-volume-pricing-note">
                            <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                    <div>
                      <div class="quick-add-modal__content-info--bulk-details small-hide medium-hide">
                        <a href="{{ card_product.url }}" class="full-unstyled-link">
                          <h3 class="h2">
                            {{ card_product.title | escape }}
                          </h3>
                        </a>
                        {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
                        {%- if card_product.quantity_price_breaks_configured? -%}
                          <div class="card__information-volume-pricing-note">
                            <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                          </div>
                        {%- endif -%}
                      </div>
                      <bulk-modal
                        id="QuickBulkModal-{{ card_product.id }}-{{ section_id }}"
                        data-url="{{ card_product.url }}"
                        data-section-id="{{ section_id }}"
                        data-product-id="{{ card_product.id }}"
                      >
                      </bulk-modal>
                    </div>
                  </div>
                </div>
              </modal-dialog>
            </div>
          {% endif %}
        {% endif %}
        <div class="card__badge {{ settings.badge_position }}">
          {% if card_product.tags contains 'New' %}
            <span
              id="Badge-{{ section_id }}-{{ card_product.id }}"
              class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
            >New</span>
          {% endif %}
          {% if card_product.tags contains 'Sale' %}
            <span
              id="Badge-{{ section_id }}-{{ card_product.id }}"
              class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
            >Sale</span>
          {% endif %}
            {% if card_product.tags contains 'Best Seller' %}
            <span
              id="Badge-{{ section_id }}-{{ card_product.id }}"
              class="badge badge--top-left color-{{ settings.sold_out_badge_color_scheme }}"
            >Best Seller</span>
          {% endif %}
  


  {% comment %}
          {%- if card_product.available == false -%}
            <span
              id="Badge-{{ section_id }}-{{ card_product.id }}"
              class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
            >
              {{- 'products.product.sold_out' | t -}}
            </span>
          {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
            <span
              id="Badge-{{ section_id }}-{{ card_product.id }}"
              class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
            >
              {{- 'products.product.on_sale' | t -}}
            </span>
          {%- endif -%}
  {% endcomment %}
        </div>
      </div>
    </div>
  </div>
{%- else -%}
  {%- liquid
    assign ratio = 1
    assign placeholder = true
    if media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    endif
  -%}
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if extend_height %} card--extend-height{% endif %}
        {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner{% if settings.card_style == 'standard' %} color-{{ settings.card_color_scheme }} gradient{% endif %} ratio"
      >
        <div
          class="card__media {% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}"
        >
          <div
            class="media media--transparent"
          >
            {%- if placeholder_image -%}
              {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading card__heading--placeholder{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
            {% render 'price', placeholder: placeholder, show_compare_at_price: true %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
